<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.css}"/>
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/icomoon.css}">
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}">
</head>
<body>	
	<div class="admin-row container p-0">
		<div class="row justify-content-center">
			<div class="col-3"><h1>TRANG QUẢN TRỊ</h1></div>
			<div class="col-3 menu-left">
				<span sec:authorize="isAuthenticated()">Wellcome, <span sec:authentication="name"></span> |
				<a th:href="@{/adminlogout}" class="user-account for-buy" sec:authorize="isAuthenticated()"><i
									class="icon icon-box"></i>Sign Out</span></a>
			</div>
			<div class="col-12"></div>
			<nav class="col-6 admin-left-col navbar navbar-light">
			  <div class="menu container-fluid">
			    <a class="btn btn-primary btnnavbar-brand" th:href="@{/admin/account}">Quản lý tài khoản</a>
			  </div>
			</nav>
			<div class="col-12"></div>
			<nav class="col-6 admin-left-col navbar navbar-light">
			  <div class="menu container-fluid">
			    <a class="btn btn-primary navbar-brand" href="#">Quản lý</a>
			  </div>
			</nav>
			<div class="col-12"></div>
			<nav class="col-6 admin-left-col navbar navbar-light">
			  <div class="menu container-fluid">
			    <a class="btn btn-primary navbar-brand" href="#">Quản lý</a>
			  </div>
			</nav>
			<div class="col-12"></div>
		</div>
	</div>
	
		<script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</body>

</html>