<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body>
	<div th:fragment="footer">
		<script th:src="@{/admin/vendors/js/vendor.bundle.base.js}"></script>

		<!-- Plugin js for this page -->
		<script th:src="@{/admin/vendors/chart.js/Chart.min.js}"></script>
		<script th:src="@{/admin/vendors/datatables.net/jquery.dataTables.js}"></script>
		<script th:src="@{/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js}"></script>
		<script th:src="@{/admin/js/dataTables.select.min.js}"></script>

		<!-- Custom scripts for this page -->
		<script th:src="@{/admin/js/off-canvas.js}"></script>
		<script th:src="@{/admin/js/hoverable-collapse.js}"></script>
		<script th:src="@{/admin/js/template.js}"></script>
		<script th:src="@{/admin/js/settings.js}"></script>
		<script th:src="@{/admin/js/todolist.js}"></script>

		<!-- Custom scripts for the whole application -->
		<script th:src="@{/admin/js/dashboard.js}"></script>
		<script th:src="@{/admin/js/Chart.roundedBarCharts.js}"></script>
	</div>

</body>

</html>