<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.css}"/>
</head>
<body>
	<div th:fragment="pagination">
		<div class="pagination" th:with="baseUrl=${URLparameter}">
			
			<span th:if="${pager.indexOutOfBounds()}">
				Page is out of bounds. Go back to
				<a class="pageLink" th:href="@{${baseUrl}(page=1)}">Home</a>
			</span>
			
			<span th:unless="${pager.indexOutOfBounds()}">
				<span th:if="${pager.hasPrevious()}">
					<a class="pageLink" th:href="@{${baseUrl}(page=1)}"><i class="fa-solid fa-angles-left"></i></a>
					<a class="pageLink" th:href="@{${baseUrl}(page=${pager.getPageIndex() - 1})}"><i class="fa-solid fa-arrow-left-long"></i></a>
				</span>
				
				<span th:if="${pager.getTotalPages() != 1}" th:text="'Page ' + ${pager.getPageIndex()} + ' of ' + ${pager.getTotalPages()} + '.'">
				</span>
			
				<span th:if="${pager.hasNext()}">
					<a class="pageLink" th:href="@{${baseUrl}(page=${pager.getPageIndex() + 1})}"><i class="fa-solid fa-arrow-right-long"></i></a>
					<a class="pageLink" th:href="@{${baseUrl}(page=${pager.getTotalPages()})}"><i class="fa-solid fa-angles-right"></i></a>
				</span>
			</span>
			
		</div>
	</div>
</body>

</html>